.section-container{
    padding-top: 40px;
    justify-content: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
}

.section-header-container {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.section-book-container {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(5, 19%);
    grid-auto-rows: minmax(300px, auto)
    /* flex-direction: row; */
}

@media only screen and (max-width: 1024px) {
    .section-book-container {
      grid-template-columns: 32% 32% 32% ;
    }
  }

@media screen and (max-width: 768px) {
    .section-book-container {
      grid-template-columns: 48% 48% ;
    }}

    